<h1>
  <% @products.each do |product| %>:
    <% product.id %>
    <%= product.name %>
    <div><%= truncate (product.description) %></div>
    <button class="js-more" data-id="<%= product.id %>">More Info</button>
  <% end %>
</h1>
<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/body", function(data) {
      // Replace text of body-id div
      $("#body-" + id).text(data);
    });
  });
});
</script>